.DS_Store
.qmake.stash
LiteDoge-Qt.app/
Makefile
build/
litedoge-qt.pro.user
src/.qmake.stash
src/Makefile
src/litedoged
LiteDoge-Qt.dmg
LiteDoge-qt
qrc_bitcoin.cpp

CMakeCache.txt

CMakeFiles/

cmake_install.cmake

litedoge-qt_autogen/

.idea/

.vscode/

src/leveldb/CTestTestfile.cmake

src/leveldb/include/port/port_config.h

src/leveldb/leveldb_autogen/moc_predefs.h

src/leveldb/leveldb_autogen/mocs_compilation.cpp

src/leveldb/leveldbConfigVersion.cmake

src/leveldb/libleveldb.a

CMakeLists.txt.user

.vs/

